* {
    padding: 0;
    margin: 0;
}
 body {
    background: rgba(255, 0, 0, 0.877);
    background: #f1e2e2;
    background-blend-mode: darken;

} 
 a {
    text-decoration: none;
} 
 header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 12px;
    background: #0a247a;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 999;
} 
.logo {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 33px;
} 
 span {
    color: crimson;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.links {
    padding-top: 9px;
    margin-right: 33px;
}
.links a {
    color: white;
    font-size: 23px;
    margin: 12px;
    position: relative;
}
.links a::after{
    position: absolute;
    transition: all  0.3s ease;
    content: " ";
    background-color: red;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
}

.links a:hover::after{
    width: 100%;
}

 .content{
    margin-top: 60px;
} 
 #home{
background:rgba(61, 12, 12, 0.7) url("../img/pms5.jpeg");
background-repeat: no-repeat;
background-size: cover;
height: 1200px;
background-blend-mode: darken;

} 
 .info h1{
    margin: 32px;
text-shadow: 3px 3px 12px red;
color:rgb(0, 28, 105);
    font-size: 54px;
} 
 .container{
    display: flex;
    justify-content: space-around;
    height: 450px;
    padding-top: 82px;

} 
#about{
     position: absolute;
    top: 1450px; 

}
 #about,#contact,#sservice{
    margin: 30px auto;

} 
.pic{
    padding: 22px;
    height: 500px; 

}
 .pic img {
border-radius: 70%; 
}
 .text{width: 640px;
    background: #0512cf;
    border-radius: 30%;
    padding: 52px;
    box-shadow: 4px 4px 9px blue; 
}
 .container .text{
    margin: 12px;
    color: rgb(253, 0, 0);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 
hr{
   border-color: hsla(0, 100%, 49%, 0.745);
   border-color: hsla(226, 74%, 42%, 0.745);
   box-shadow: 4px 4px 16px 2px rgb(17, 105, 236);
   box-shadow: 4px 4px 12px 3px rgb(250, 2, 2);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #0a247a;
}
footer p {
    text-align: center;
    color: white;
    margin-top: 12px;
}

form{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 22px red;
    border-radius: 19px;
height: 350px;
width: 350px;
} 
 input{
    margin: 12px;
height: 30px;
width: 270px;
border-radius: 19px;
outline: none;
font-size: 18px;
text-align: center;
} 
button{
    width: 100px;
    height: 30px;
    align-self: center;
    border-radius: 9px;
    outline: none;
} 
 .wel{
    margin-top: 67px;
    text-align: center;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif; }
